/* Používáme intuitivní výpočet rozměrů prvků. */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #e0dbbd;
}

body {
  background-color: #2D55A5;

}

.container {
  margin-right: auto;
  margin-left: auto;
  padding: 0.8rem;

}

.menu {
  margin: 0;
  padding: 0.8rem;
  text-align: center;
  background-color: #e0dbbd;
  border-radius: 8px;
}

.menu li {
  display: inline-block;
}

.menu a {
  color: #7C8792;
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2rem;
}

.menu a:hover {
  background-color: #2D55A5;
  }

h1 {
  text-align: center;
  margin-top: 3rem;
}

.banner {
  display: flex;
  justify-content: center;
  margin-top: 0.8rem;
}

.banner_img {
  max-width: 85%;
  border-radius: 8px;
}

.popis {
  line-height: 1.6;
  text-align: justify;
  margin: 3rem;
}

.fotografie {
  display: flex;
  justify-content: space-around;
}

.mp_img {
  max-width: 40%;
  border-radius: 50%;
}
