/* Používáme intuitivní výpočet rozměrů prvků. */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #7C8792;
}

body {
  background-color: #2D55A5;
}

.container {
  margin-right: auto;
  margin-left: auto;

}

.menu {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #1F2B62;
  border-radius: 8px;
}

.menu li {
  display: inline-block;
}

.menu a {
  color: #7C8792;
  text-decoration: none;
  display: inline-block;
  padding: 20px 30px;
}

.menu a:hover {
  background-color: #2D55A5;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

.banner {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.banner_img {
  max-width: 70%;
  border-radius: 8px;
}
.popis {
  padding: 20px;
  line-height: 1.6;
  text-align: justify;
}

.fotografie {
  display: flex;
  justify-content: space-around;
}

.mp_img {
  max-width: 40%;
  border-radius: 50%;
}
